body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
}

.page-padding {
  padding-left: 1rem;
  padding-right: 1rem;
}
.section-padding {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.errorMessage {
  padding: 0.5rem;
  color: #ffffff;
  background-color: #a60e0e;
}
