* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app {
  padding-left: 2rem;
  padding-right: 2rem;
}
.section-padding {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.errorMessage {
  padding: 0.5rem;
  color: #ffffff;
  background-color: #a60e0e;
}
