.header .logo {
  font-size: 2rem;
}

.rightLinkItems {
  list-style-type: none;
}

.link,
.navButton {
  color: black;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.activeLink {
  color: #0ea68c;
}

.rightLinks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.navButton {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
