body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  background-color: black;
  color: white;
}

.discountBadge {
  padding: 2rem;
}

.product {
  position: relative;
  list-style: none;
  border-style: solid;
  border-color: black;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-gap: 2rem;
}

.product-image {
  width: 100%;
  height: auto;
}

.padding {
  padding-bottom: 1rem;
}
