body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.badge {
  position: absolute;
  top: 0;
  left: 0;
}

.productButton {
  border-radius: 0;
  background-color: white;
  font-size: 1rem;
  cursor: pointer;
  border-style: solid;
  border-color: black;
  padding: 0.5rem;
}

.discountBadge {
  padding: 2rem;
  color: red;
  font-size: 1rem;
}

.product {
  position: relative;
  list-style: none;
  border-style: solid;
  border-color: black;
  padding: 1rem;
}

.main-content {
  display: grid;
  grid-gap: 2rem;
}

.product-image {
  width: 100%;
  height: auto;
}

.padding {
  padding-bottom: 1rem;
}

.section-padding {
  padding-left: 2rem;
  padding-right: 2rem;
}
